<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gif.eting.dao.StoryMapper">

<!-- 
		SELECT
			  story_id
			  ,content
			  ,phone_id
			  ,story_date
		FROM story_master
		WHERE phone_id = #{phone_id}
		ORDER by story_date desc
		 -->
		 
	<select id="getStoryList" parameterType="storyDTO" resultType="storyDTO">		
	    SELECT
		  story_master.story_id
		  ,content
		  ,phone_id
		  ,story_date
		  ,story_time		  
		  ,stamp_master.stamp_name
		FROM story_master
	    LEFT OUTER JOIN story_stamp_mapping
	    ON story_master.story_id = story_stamp_mapping.story_id
	    LEFT OUTER JOIN stamp_master
	    ON story_stamp_mapping.stamp_id = stamp_master.stamp_id    
		WHERE phone_id = #{phone_id}
		ORDER by story_date, story_time asc
	</select>
	
	<insert id="insStory" parameterType="storyDTO"
	useGeneratedKeys="true" keyProperty="story_id">
	INSERT INTO
	story_master
		(content, phone_id, story_date, story_time)
	VALUES
		(#{content}, #{phone_id}, curdate(), curtime())
	</insert>

	<update id="updStory" parameterType="storyDTO">
		UPDATE story_master 
		<set>
			<if test="exp_type != null">content= #{content},</if>
		</set>
		WHERE story_id = #{story_id}
	</update>

	<delete id="delStory" parameterType="storyDTO">
		DELETE FROM story_master
		WHERE story_id = #{story_id}
	</delete>
	
	<!-- 이야기 대기열에 이야기를 넣는다 -->
	<insert id="insStoryQueue" parameterType="storyDTO">
	INSERT INTO story_queue
		(story_id, phone_id) 
	VALUES 
		(#{story_id}, #{phone_id})
	</insert>
	
	<!-- 자신이 쓰지 않은 이야기를 받아오기 -->
	<select id="getStoryFromQueue" parameterType="storyDTO" resultType="storyDTO">
		SELECT
			story_id
			,content
			,story_date
			,story_time
		FROM story_queue
		NATURAL JOIN story_master
		WHERE phone_id != #{phone_id}
		AND phone_id not in (select phone_id  
									from story_report 
									group by phone_id 
									having count(phone_id) >= 3)
		ORDER by rand()
		LIMIT 1
	</select>
	
	<!-- 대기열에서 받아온 이야기를 대기열에서 지우기 -->
	<delete id="delStoryFromQueue" parameterType="storyDTO">
		DELETE FROM story_queue
		WHERE story_id = #{story_id}
	</delete>
	
	<!-- 받은이야기함에 넣는다. -->
	<insert id="insRecievedStory" parameterType="storyDTO">
	INSERT INTO recieved_story
		(story_id, phone_id) 
	VALUES 
		(#{story_id}, #{phone_id})
	</insert>
	
	<!-- 받은이야기함에서 읽지않은 이야기를 받아오기 -->
	<select id="getStoryFromRecieved" parameterType="storyDTO" resultType="storyDTO">	
		SELECT 
			recieved_story.story_id, 
			story_master.content, 
			story_master.story_date, 
			story_master.story_time 
		FROM recieved_story INNER JOIN story_master 
		ON  recieved_story.story_id = story_master.story_id  
		WHERE recieved_story.phone_id = #{phone_id}
		ORDER BY recieved_story.story_id desc
		LIMIT 5
	</select>
	
	<!-- 스탬프 불러오기 -->
	<select id="getStamp" parameterType="String" resultType="stampDTO">	
		SELECT 
			stamp_id
			,stamp_name
			,stamp_url
			,stamp_type
			,stamp_order
		FROM stamp_master
		<if test="stamp_id != null">
			<![CDATA[
			WHERE stamp_id > #{stamp_id}
			]]>
		</if>
	</select>
	
	<!-- 스탬프저장 -->
	<insert id="insStampToStory" parameterType="stampDTO">
	INSERT INTO
	story_stamp_mapping
		(story_id, phone_id, stamps, story_comment)
	VALUES
		(#{story_id},#{phone_id}, #{stamps}, #{comment})
	</insert>
	
	<!-- 스탬프찍은 이야기를 받은이야기함에서 지우기 -->
	<delete id="delStoryFromRecieved" parameterType="stampDTO">
		DELETE FROM recieved_story
		WHERE story_id = #{story_id}
	</delete>

	<!-- 스토리에 해당하는 스탬프 불러오기 -->
	<select id="getStampByStory" parameterType="String" resultType="stampDTO">
		SELECT
			story_stamp_mapping.stamp_id
			,stamp_master.stamp_name
			,story_stamp_mapping.sender
		FROM story_stamp_mapping
		LEFT OUTER JOIN stamp_master
		ON story_stamp_mapping.stamp_id =
			stamp_master.stamp_id
		WHERE story_stamp_mapping.story_id = #{story_id}
	</select>
	
	<!-- 스탬프가 찍힌 이야기 아이디만 불러온다. -->
	<select id="getStampedStoryByPhoneId" parameterType="String" resultType="String">
		SELECT
			story_stamp_mapping.story_id
		FROM story_stamp_mapping
		LEFT OUTER JOIN story_master
		ON story_stamp_mapping.story_id =
			story_master.story_id
		WHERE story_master.phone_id = #{phone_id}		
	</select>
	
	<!-- 폰 고유번호 저장 -->
	<insert id="insPhoneRegistration" parameterType="phoneDto">
		INSERT INTO
		phone_registration
			(phone_id, reg_id, os, reg_date)
		VALUES
			(#{phone_id}, #{reg_id}, #{os}, curdate())
	</insert>
	
	<!-- 폰 고유번호 불러오기 -->
	<select id="getPhoneRegistration" parameterType="String" resultType="phoneDto">
		SELECT
		  reg_id
		  ,os
		FROM
		  phone_registration
		  natural join story_master
		WHERE
		  story_id=#{story_id} 		
	</select>
	
	<!-- 이야기 신고기능 -->
	<insert id="insStoryReport" parameterType="phoneDto">
		INSERT INTO
		story_report
			(story_id, phone_id)
		VALUES
			(#{story_id}, (select phone_id
			from story_master
			where story_id = #{story_id}))
	</insert>
	
	<!-- 등록된 폰 정보 불러오기 -->
	<!-- 실제 사용한 일수가 3일 이상인 사람만 가져온다. -->
	<select id="getPhoneRegistrationList" parameterType="String" resultType="phoneDto">
		SELECT
			pr.phone_id
			,pr.reg_id
			,pr.os
			,pr.reg_date
		FROM
		  phone_registration pr
		  ,(
		select phone_id from story_master
		where story_date > STR_TO_DATE('2013-11-01',get_format(date,'iso'))
		group by phone_id
		having count(distinct story_date) > 2
		) p
		WHERE pr.phone_id = p.phone_id
	</select>

	<!-- 가입한지 3일 이내인 사람만!!! -->	 
	
	<!-- 
	<select id="getPhoneRegistrationList" parameterType="String" resultType="phoneDto">
		SELECT
			phone_id
			,reg_id
		FROM
			phone_registration
	</select>
	
	 -->
	 
	<!-- 무작위로 이야기를 불러온다. -->
	<select id="getRandomStory" resultType="storyDTO">
		SELECT
			sm.story_id
			,sm.content
			,sm.story_date
			,sm.story_time
		FROM story_master sm
		,recieved_story rs
		WHERE sm.story_id = rs.story_id
		AND sm.phone_id != #{phone_id}
		AND sm.phone_id not in (select phone_id  
									from story_report 
									group by phone_id 
									having count(phone_id) >= 3)
		AND DATE_SUB(CURDATE(),INTERVAL 1 DAY) > story_date
		ORDER by rand()
		LIMIT 1
	</select>
	
	<!-- 랜덤하게 폰 하나 가져오기 -->
	<!-- 실제 사용한 일수가 3일 이상인 사람만 가져온다. -->
	<select id="getRandomPhone" resultType="phoneDto">
		SELECT
			pr.phone_id
			,pr.reg_id
			,pr.os
			,pr.reg_date
		FROM
		  phone_registration pr
		  ,(
		select phone_id from story_master
		where story_date > STR_TO_DATE('2013-11-01',get_format(date,'iso'))
		group by phone_id
		having count(distinct story_date) > 2
		ORDER by rand()
		LIMIT 1
		) p
		WHERE pr.phone_id = p.phone_id
	</select>
	
	<!-- 실제 사용한 일수가 3일 이상인 사람 숫자만 가져온다. -->
	<select id="getPhoneRegistrationCnt" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
		  phone_registration pr
		  ,(
		select phone_id from story_master
		where story_date > STR_TO_DATE('2013-11-01',get_format(date,'iso'))
		group by phone_id
		having count(distinct story_date) > 2
		) p
		WHERE pr.phone_id = p.phone_id
	</select>
	
</mapper>